.swiping {
  height: 23rem;
}

.swiperight {
  font-size: 30px;
  position: absolute;
  top: 430px;
  left: 50%;
}

.banners {
  padding: 0 2rem 2rem 2rem;
}

.single-banner {
  padding: 5rem;
  position: relative;
  text-align: center;
  background: var(--orange-card);
  color: #4d4d4d;
  margin: 5rem 0;
}

.banner-circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ffcc81;
  border: 1px solid #ff9a04;
  box-sizing: border-box;
  position: absolute;
  top: -30px;
  left: 50%;
}

.single-banner h3:nth-child(3) {
  margin-bottom: 8rem;
}

.single-banner h3:nth-child(4),
h3:nth-child(5) {
  color: #eb3204;
}

.single-banner img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.single-banner:hover {
  background: #ffcc81;
  color: #703112;
}

.single-banner a {
  color: #4d4d4d;
}

.single-banner a:hover {
  text-decoration: none;
  color: #703112;
}

.innercircle {
  min-width: 16rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-right: 20px;
}

.innercircle img {
  width: 10rem;
  position: absolute;
  bottom: 15px;
  left: 50px;
}

.aboutus-text {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.about-wraper li {
  margin-bottom: 1rem;
  list-style: circle;
}
