/* --- DESKTOP --- */
/* one or more available input mechanism(s) can hover over elements with ease */ /* -> desktop or laptop version of scroll*/
@media (any-hover: hover) {
  /* hide scroll bar */
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  /* */
  .scroll-container-parent {
    height: 40vh;
  }
  .horizontal-scroll {
    margin-left: 30vw;
    width: 40vh; /* height */
    height: 100vw; /* width */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    transform-origin: right top;
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
    /* hide scroll for FF & IE*/
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* */
  }
  .horizontal-scroll > * {
    transform-origin: left top;
    transform: rotate(90deg) translate3d(0, calc(-100vh + 60px), 0);
  }
  .horizontal-scroll__block {
    width: 90vh;
    height: 90vh;
    position: relative;
  }
  .horizontal-scroll__block:not(:first-child) {
    margin-top: 30px; /* left margin*/
  }
  .horizontal-scroll__block .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: no-repeat center center/cover; */
    background-size: 100% 51%;
    opacity: 0.9;
  }
  .horizontal-scroll__block .card-text {
    display: inline-block;
    position: absolute;
    top: 80%;
    right: auto;
    bottom: auto;
    left: 70%;
    transform: translate3d(-50%, -50%, 0);
    font-weight: normal;
    font-size: 3.5rem;
    /* color: white; */ /* inline-styling each-color separetely*/
  }
}

/* --- MOBILE --- */
/* one or more available input mechanism(s) cannot hover or there are no pointing input mechanisms */
@media (any-hover: none) {
  body {
    background-color: purple;
    box-sizing: border-box;
  }
  .scroll-container-parent {
    background-color: bisque;
    height: 30vh;
  }
  .horizontal-scroll {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 30vh;
    /* hide scroll for FF & IE*/
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* */
  }
  .horizontal-scroll__block {
    min-width: 70vw;
    position: relative;
    margin-left: 5px;
  }
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
  .horizontal-scroll__block .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: no-repeat center center/cover; */
    /*background-size: 100% 51%;*/
    background: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  .horizontal-scroll__block .card-text {
    position: relative; /* positioning relative to container*/
    left: 20%; /* ^ */
    top: 5%; /* ^ */
    font-size: 1.3em;
    font-weight: normal;
  }
  .horizontal-scroll a {
    text-decoration: none; /* remove underline from <a>s */
  }
}
/* one or more available input mechanism(s) can hover, but not with ease (for example simulating the hovering when performing a long touch) */ /* =detecting mobile device */
@media (any-hover: on-demand) {
  body {
    background-color: purple;
    box-sizing: border-box;
  }
  .scroll-container-parent {
    background-color: bisque;
    height: 30vh;
  }
  .horizontal-scroll {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 30vh;
    /* hide scroll for FF & IE*/
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* */
  }
  .horizontal-scroll__block {
    min-width: 70vw;
    position: relative;
    margin-left: 5px;
  }
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
  .horizontal-scroll__block .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: no-repeat center center/cover; */
    /*background-size: 100% 51%;*/
    background: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  .horizontal-scroll__block .card-text {
    position: relative; /* positioning relative to container*/
    left: 20%; /* ^ */
    top: 5%; /* ^ */
    font-size: 1.3em;
    font-weight: normal;
  }
  .horizontal-scroll a {
    text-decoration: none; /* remove underline from <a>s */
  }
}
