header {
  background-color: #fff;
  display: flex !important;
  flex-direction: raw;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 2rem;
  position: fixed;
  z-index: 999;
  width: 100%;
}

header ul li {
  display: inline;
  margin: 0 1rem;
  font-size: 30px;
}

.logo {
  font-weight: 900;
  font-style: italic;
  font-size: 40px;
  position: relative;
  top: 0.5rem;
}

.logoimg {
  max-width: 3rem;
  position: relative;
  bottom: 0.5rem;
}

nav {
  margin-top: 1.1rem;
}

header a {
  color: var(--text-color);
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  color: var(--orange);
}

nav .active {
  color: var(--orange);
}

#mobileicon {
  display: none;
}

#mobilemenu {
  background-color: #faf6f1;
  position: absolute;
  right: 0;
  top: 90px;
  padding: 2rem;
  width: 30%;

  box-shadow: 9px 0px 1px #888888;
  z-index: 999;
}

#mobilemenu li {
  display: block;
  margin: 1.5rem 0;
  font-size: 25px;
}

#mobilemenu li a {
  color: #eb3204;
}

#mobilemenu ul li a:hover {
  background-image: none;
  color: #000;
  font-size: 26px;
}

@media (max-width: 901px) {
  /* .logo {
    font-size: 40px;
  } */

  #mobilemenu {
    width: 50%;
  }
  #mobileicon {
    display: block;
  }
  nav {
    display: none !important;
  }

  .swiping {
    padding-top: 6rem;
  }
}

@media (max-width: 400px) {
  #mobilemenu {
    width: 100%;
  }
}
