/* ¨¨ */
/* 2nd container from top that displays image and 3 cards */
.top-graphic-and-cards-container {
  position: relative;
  /* background-color: turquoise; */
  height: 40vh;
}
.top-graphic-and-cards-lady-img {
  position: absolute;
  height: 90%;
  margin-left: 3vw;
}
.top-graphic-and-cards-container img {
  height: 100%;
  margin: 10%;
}
.events-category-all-cards {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  margin-right: 30px;
  font-size: 2.2vw; /*responsive font-size*/
  overflow-y: auto;
}

.orange-card {
  background-color: orange;
  color: white;
  height: 80%;
  width: 15vw;
  margin-right: 20px;
  text-align: center;
}

.orange-card p {
  transform: translateY(160%);
}

/* container that displays event cards */
.events-container {
  /* background-color: palevioletred; */
}
/* ¨¨ */
