/* ¨¨ */
/* 2nd container from top that displays image and 3 cards */
.top-graphic-and-cards-container {
  /* position: relative; */
  height: 80vh;
}
.top-graphic-and-cards-container img {
  height: 100%;
}

.event-category {
  margin: 0 1em;
}

.orange-card {
  background-color: orange;
  height: 15rem;
  width: 12vw;
  font-size: 1.5rem;
  margin-right: 1em;
  cursor: pointer;
}
.event-text {
  height: 100% !important;
  font-size: 1.25rem !important;
}
.orange-card p {
  transform: translateY(160%);
}
.link-event {
  text-decoration: none !important;
}
/* bottom half */
.BS-search {
  display: flex;
  justify-content: center;
  margin-left: 18em;
  margin-bottom: 3em;
}
.MuiInput-root {
  width: 25em !important;
}
.input-img {
  width: 20em !important;
  margin-right: 10px;
}

.eventForm {
  margin-top: 0;
}
.eventBtn {
  margin-bottom: 0;
  font-style: normal;
}
.eventListCard {
  background-color: #f5ede3 !important;
  font-size: 1.2em !important;
  overflow: hidden !important;
}

.eventListCard img {
  display: block;
  margin: auto;
  /* to get circle element it has to have same height and width */
  height: 250px;
  width: 250px;
  border-radius: 50% !important; /**/
  margin-top: 10% !important;
}
.title {
  color: orangered;
  padding: 0 1rem !important;
}
.event-single {
  background-color: palegreen;
}
@media (max-width: 576px) {
  .orange-card {
    height: 40%;
    margin-top: 10vh;
  }
  .eventListCard {
    font-size: 4vw;
  }
  .eventListCard img {
    height: 150px;
    width: 150px;
    margin-top: 25%;
  }
  .event-text {
    display: none;
  }
  .eventForm {
    width: 20em;
    padding: 0;
  }
  .BS-search {
    margin: 0 0;
  }
  .MuiInput-root {
    width: 15em !important;
  }
}
@media (max-width: 260px) {
  .orange-card {
    display: none;
  }
}

/* ¨¨ */
