* {
  box-sizing: border-box;
}

body {
  color: peachpuff;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border: 5px solid red;
  border-radius: 5px;
}
