* {
  box-sizing: border-box;
}

body {
  background-color: papayawhip;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border: 5px solid paleturquoise;
  border-radius: 5px;
  margin: 10px;
}

button {
  border: paleturquoise;
  block-size: 200%;
}
