.lost {
  display: none;
}

.formContainer {
  padding-bottom: 10rem;
  padding-top: 5rem;
}

.addItemPost {
  padding: 50px 200px;
  border: 1px solid #80d372;
}

.uploadButton {
  padding: 0 30px;
  margin: 30px 0;
}

.submitButton {
  margin: 1rem 26rem;
}

.descriptionLF {
  display: grid !important;
}

.form-row-lostfound {
  justify-content: space-between;
}
