/* Override Bootstrap  */

.searchContainer {
  display: flex;
}

.search {
  margin: 120px;
}

.logoFound {
  margin-top: 150px;
  width: 300px;
  height: 300px;
}

.foundContainer {
  padding: 3rem 0 6rem 0;
}

.lostfoundTitle {
  text-align: center;
  padding: 20px;
}

.lost-card,
.found-card {
  height: 900px;
  background-color: #faf6f1 !important;
  padding: 0 !important;
  border-radius: 2% !important;
  width: 500px !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)) !important;
  grid-gap: 20px !important;
}

.card-group {
  justify-content: center !important;
}

.foundImg,
.lostImg {
  box-shadow: none !important;
  border-radius: 0 !important;
  top: 0 !important;
  right: 0 !important;
  max-width: unset !important;
  height: 400px !important;
  object-fit: cover;
  width: 100%;
}

.card-title {
  margin: 0;
  text-align: center;
}

.card-text {
  height: 200px;
}

.col {
  padding: 10px;
}

.descFound,
.descLost {
  color: black;
  padding: 20px 8px 0px 8px;
}

.makeStyles-margin-1 {
  padding-top: 200px;
}

.MuiInputBase-root {
  width: 1000px;
}

/********************************/
@media (max-width: 800px) {
  .logoFound {
  }
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
  header {
    position: relative;
    padding: 5px;
  }
  .logoFound {
    margin-top: 5px;
    width: 100px;
    height: 150px;
  }

  .searchRow {
    margin-left: 0px;
    flex-wrap: nowrap;
  }

  .searchContainer {
    display: contents;
  }

  .MuiInputBase-root {
    width: 150px;
  }
  .MuiGrid-root {
    justify-content: center;
  }

  .makeStyles-margin-1 {
    padding-top: 2rem;
  }
  .foundContainer,
  .lostCountainer {
    padding: 0;
  }
  .lost-card,
  .found-card {
    max-width: 300px;
  }
  .foundImg,
  .lostImg {
    height: unset !important;
  }
}
