.searchContainer {
  display: flex;
}

.logoFound {
  margin-top: 1rem;
  min-width: 400px;
  height: 400px;
}

.searchBox {
  padding-top: 150px;
}

.foundContainer {
  padding: 3rem 0 6rem 0;
}

.lostTitle,
.foundTitle,
.formTitle {
  text-align: center;
  font-size: 3rem;
}

.formTitle {
  padding-bottom: 50px;
}

.lost-card,
.found-card {
  background-color: #faf6f1 !important;
  position: relative;
  display: flex;
  font-size: 25px;
  margin: 1rem 2rem;
  max-width: 500px;
}

.foundImg,
.lostImg {
  height: 50%;
  object-fit: cover;
  position: relative;
  max-width: 600px;
}

.card-bodyL,
.card-bodyF {
  text-align: center;
}

/********************************/
@media (max-width: 1100px) {
  .logoFound {
    margin-top: 1rem;
    min-width: 250px;
  }
  .searchBox {
  }

  .foundContainer,
  .lostCountainer {
    text-align: center;
  }

  .lost-card,
  .found-card {
    width: auto;
  }

  .descFound,
  .descLost {
    padding: 0;
    font-size: 1rem !important;
  }
  .foundImg,
  .lostImg {
    height: 40%;
    object-fit: cover;
  }

  .foundTitle,
  .lostTitle,
  .formTitle {
    text-align: center;
    font-size: 2rem;
  }

  /*********Form**********/

  .addItemPost {
    padding: 20px;
  }
  .form-row-lostfound {
    display: grid;
  }

  .submitButton {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .logoFound {
    height: 6rem;
    margin-top: 0;
    position: absolute;
  }

  .foundContainer,
  .lostCountainer {
    padding: 100px 0 0 0;
    text-align: center;
  }

  .lost-card,
  .found-card {
    width: 400px;
    margin: auto;
  }

  .foundTitle,
  .lostTitle {
    text-align: center;
  }

  /*Form*/

  .formContainer {
    padding: 0 0 50px 0;
  }

  .formTitle {
    text-align: center;
  }

  .addItemPost {
    width: 414px;
  }
  .submitButton {
    margin: auto;
  }

  .form-row-lostfound {
    display: grid;
  }
  .form-control-lostfound {
    max-width: 250px;
  }
}
/***********************************/
@media (max-width: 400px) {
  .foundContainer,
  .lostCountainer {
    padding: 0;
  }

  .logoFound {
    min-width: 7rem;
    margin-top: 0;
    position: absolute;
  }

  .searchContainer {
    width: auto;
    height: 150px;
  }

  .searchBox {
    padding-top: 6rem;
  }

  .lost-card,
  .found-card {
    max-width: 300px;
    width: 300px;
    margin: auto;
  }

  .foundTitle {
    padding-top: 40px;
    text-align: center;
    font-size: 2rem;
  }
  .lostTitle {
    text-align: center;
    font-size: 2rem;
  }

  .descFound,
  .descLost {
    padding: 0;
  }

  /*Form*/

  .formContainer {
    padding: 0 0 50px 0;
  }
  .submitButton {
    margin: auto;
  }
  .formTitle {
    text-align: center;
    font-size: 2rem;
  }

  .addItemPost {
    width: auto;
  }

  .form-row-lostfound {
    display: grid;
  }
  .form-control-lostfound {
    max-width: 250px;
  }
}
