.weatherCard {
  flex: 1;
  background-color: #93aced;
}
a {
  color: #eb892e;
}
a:hover {
  color: #f1e3d5;
}

.card-beaches {
  position: relative;
  display: inline-block;
  max-width: 400px;
  font-size: 25px;
  margin: 1rem 2rem;
  padding: 2rem;
  padding-top: 0;
  padding-right: 0;
  border: none !important;
}

.weatherCard {
  max-width: 200px;
  height: 250px;
  font-size: 20px;
  color: white;
}
.searchBar {
  justify-content: center;
}
.city {
  text-decoration: underline;
  margin: 1rem 0;
}
.cityWeatherCards {
  width: 400;
  height: 300;
}
.weatherCard {
  margin: 2rem;
  margin-left: 3rem;
}

.title-beaches {
  margin-top: 2rem;
  font-size: 30px;
  padding: 20px 8px 0px 8px;
  font-weight: 400;
}
.card-text-beach {
  color: #f8f0f0;
  max-width: 500px;
  margin-top: 1rem;
  padding: 1rem;
}
.card-img-top-beach {
  position: relative !important;
  border-radius: 50% !important;
  max-width: 250px !important;
  height: 250px !important;
  top: 2.5rem !important;
  right: 1rem !important;
  box-shadow: 20px 0 0 20px #f5efef !important;
  margin: 3rem;
}
.weatherIcons {
  height: 60px;
  width: 60px;
}
.input-group {
  text-align: center;
}
#search-bar {
  margin-top: 2rem;
  width: 1000px;
  height: 3rem;
  padding: 0 1rem;
  font-size: initial;
  padding-right: 2rem;
  margin-left: 5rem;
}
/* Mobile version */

@media (max-width: 576px) {
  .beachContainer {
    max-width: 100% !important;
  }
  .cityWeatherCards {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  .card-body {
    max-width: 300vh !important;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .makeStyles-margin-1 {
    margin: 8px;
    padding-left: 4rem;
  }
  .weatherCard {
    max-width: 250vh;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: white;
    padding: 0;
  }

  .city {
    text-decoration: underline;
  }
  .card-img-top-beach {
    position: relative !important;
    border-radius: 50% !important;
    max-width: 250px !important;
    height: 250px !important;
    top: 2.5rem !important;
    left: 1rem !important;
    box-shadow: 20px 0 0 20px #f5efef !important;
  }
  .card-title,
  h5 {
    margin-top: 2rem;
    font-size: 10px;
  }
  .cityWeatherCards {
    padding: 1rem;
  }
  .card-text-beach {
    color: #f8f0f0;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .input-group {
    text-align: center;
  }
  #search-bar {
    margin-top: 2rem;
    width: 1000px;
    height: 3rem;
    padding: 0 1rem;
    font-size: initial;
    padding-right: 2rem;
    margin-left: 5rem;
  }
}
