/* Override Bootstrap  */
@media (min-width: 1200px),
  (min-width: 992px),
  (min-width: 768px),
  (min-width: 576px)
   {
  .container {
    max-width: none;
  }
}
.weatherCard card {
  flex: 1;
  background-color: "#93ACED";
}

a {
  color: #eb892e;
}
a:hover {
  color: #f1e3d5;
}

.card {
  position: relative;
  display: inline-block;
  max-width: 400px;
  font-size: 20px;
  margin: 1rem 2rem;
  padding: 2rem;
  padding-top: 0;
  padding-right: 0;
  border: none !important;
}
.weatherCard {
  max-width: 200px;
  height: 250px;
  font-size: 20px;
  color: white;
}
.city{
  text-decoration: underline;
}

.card-title,
h5 {
  margin-top: 2rem;
  font-weight: 800;
  font-size: 30px;
  padding: 20px 8px 0px 8px;

}
.card-text {
  color: #f8f0f0;
  max-width: 500px;
  margin-top: 1rem;
  padding: 1rem;
}
.card-img-top {
  position: relative !important;
  border-radius: 50% !important;
  max-width: 250px !important;
  height: 250px !important;
  top: 2.5rem !important;
  right: 1rem !important;
  box-shadow: 20px 0 0 20px #f5efef !important;
}
.weatherIcons {
  height: 60px;
  width: 60px;
}
.input-group {
  text-align: center;
}
#search-bar {
  margin-top: 2rem;
  width: 1000px;
  height: 3rem;
  padding: 0 1rem;
  font-size: initial;
  padding-right: 2rem;
  margin-left: 5rem;
}
